/**
 * @file
 * Customization for Dual
 *
 */

@import 'base';

@media all {
  .art-home-bottom-center {
    background-color: $wwuBlue;
    color: #fff;
    padding-bottom: 1em;

    a {
      color: #fff;
    }
  }

  .views-field-mail {
    overflow-wrap: anywhere;
  }

  .views-field-photo {
    max-width: 136px;
  }

  .views-field-office {
    max-width: 100px;;
  }
  
  .views-field-phone {
    white-space: nowrap;
  }
}

.art-home-bottom-row .pane-title {
  background-color: $wwuLime;
  padding: .5em;
}

table {
  .odd {
    a {
      color: $wwuBlue;
    }
  }
}
